@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 100%;
  }
}

@layer base {
  *,
  *:after,
  *:before {
    @apply border-foreground
      outline-none
      focus-visible:outline-none;
  }

  body {
    @apply flex
      min-h-dvh
      flex-col
      overflow-x-clip
      overscroll-y-none
      bg-background
      font-sans
      text-foreground
      subpixel-antialiased;
  }
}
